@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --card:#e0e0e0;
    --card-temp-min: #0ebc9a;
    --card-temp-max: #b1600f;
    --shadow: #bebebe;
    --white: #ffffff;
    --krowdy: #ff8b08;
    --bgbody: #fff6ef;
    --subtitle: #172334;
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}

body{
    font-family: 'Roboto', sans-serif;
    background: var(--bgbody);
}

h1{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding: 2%;
    color: var(--krowdy);
}

h2{
    text-decoration: underline;
    padding: 1%;
    color: var(--subtitle);
}

label{
    display: flex;
    padding: 0.5%;
    gap: 10px;
}

h3{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 30px;
    color: var(--subtitle);
}

input{
    border-radius: 5px;
}

.container_card{
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    
}

.card {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 3%;
    gap: 15px;
    border-radius: 30px;
    background: var(--card);
    box-shadow: 15px 15px 30px var(--shadow),
                -15px -15px 30px var(--white);
}

.card_temp-min{
    color: var(--card-temp-min);
}

.card_temp-max{
    color: var(--card-temp-max);
}